@import "reset.css"; 
@import "status-bar.css";
@import "login.css";
@import "welcome.css";
body{
    font-family: 'Merriweather', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
}





                        

